<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue todolist</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div id="app">
    <section id="page-splash" v-show="splash">
      <button type="button" class="FbSignIn btn btn-default" @click.prevent="signIn">Sign in with Facebook</button>
    </section>
    <nav>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" @click.prevent="signOut">Signout</button>
      </div>     
    </nav>
    <div class="form-set">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="What to do next" 
        v-model="newTodo"
        @keyup.enter="addTodo">
        <span class="input-group-btn">
          <button class="btn btn-default" @click.prevent="addTodo" type="button">Add</button>
        </span>
      </div> 
    </div>
    <div class="list container">
      <div class="row">
        <transition-group name="slide">
          <div class="col-sm-6 m-b-2"
               v-for="(todo, idx) in todos"
               :key="todo.content">
            <div class="list-card" :class="{active: todo.completed}">
              <p>{{todo.date}}</p>
              <p>
                <input type="checkbox" v-model="todo.completed"/>
                <span class="p-y-2" :class="{active: todo.completed}">{{todo.content}}</span>
              </p>
              <button class="btn-del" @click.prevent="removeTodo(todo)">x</button>
            </div>
          </div>
        </transition-group>
      </div>
    </div>
  </div>


  <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
  <script src="https://unpkg.com/vue"></script>
 
  <script>
    // Initialize Firebase
    const config = {
      apiKey: "AIzaSyAVhjHofKm_A0XqJEb2xPhMQiJ8HTr6gt0",
      authDomain: "vue-todo-fc61b.firebaseapp.com",
      databaseURL: "https://vue-todo-fc61b.firebaseio.com",
      storageBucket: "vue-todo-fc61b.appspot.com"
    };
    firebase.initializeApp(config);

    let todoRef = firebase.database().ref('todolist')
    //vue.js

    var app = new Vue({
      el: "#app",
      data: {
        newTodo: "",
        todos: [],
        splash: true,
        currentUserName:''
      },
      //將firebase的資料渲染在畫面上
      created () {
        let self = this;
        todoRef.on('value', function(snapshot) {
          self.todos = snapshot.val();
        })
      },
      methods: {
        addTodo : function (e) {
          //簡單驗證，不可為空值
          if (this.newTodo) {
            //將資料新增至firebase，並取得key值
              let postKey = todoRef.push({
              content: this.newTodo,
              date: new Date(Date.now()).toLocaleString(), //字串
              completed: false
            }).key;

            //將key值更新至欄位當中
            todoRef.child(postKey).update({
              key: postKey
            });
          }
          this.newTodo = '';
        },
        //刪除指定的key
        removeTodo: function (todo) {
          todoRef.child(todo["key"]).remove();
        },
        signIn : function () {
          const provider = new firebase.auth.FacebookAuthProvider();
          provider.addScope('user_birthday');
          let that = this;
          // [START signin]
          firebase.auth().signInWithPopup(provider).then(function(result) {
            let token = result.credential.accessToken;
            that.currentUserName = result.user.displayName;
            // 使用者資訊
          }).catch(function(error) {
            // 處理錯誤
            let errorCode = error.code;
            // 如果一組帳戶同時使用兩種登入模式
            if (errorCode === 'auth/account-exists-with-different-credential') {
              alert('You have already signed up with a different auth provider for that email.');
            } else {
              console.error(error);
            }
          });
          this.splash = !this.splash;
          console.log(this.currentUser,this.splash);
        },

        signOut: function(){
          firebase.auth().signOut();
          this.currentUser="";
          this.splash = !this.splash;
          console.log(this.currentUser,this.splash);
        }
      }
    });
  </script>
</body>
</html>